.primary-button-container {
  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #07C88E;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    letter-spacing: -0.25px;
    color: #FFFFFF;
  }
}
