.home {
  display: flex;
  flex-direction: column;

  &__slider {
    position: relative;
    max-width: 1200px;
    margin: 120px auto 0;

    @media (max-width: 1240px) {
      margin: 120px 22px 0;
    }

    @media (max-width: 959px) {
      margin: 80px 0 0 0;
    }

    @media (max-width: 769px) {
      margin: 68px 0 0 0;
    }
  }

  &__cards {
    flex: 0 1 auto;
    margin: 48px 0 0 0;

    @media (max-width: 959px) {
      margin: 0;
    }
  }

  &__footer {
    flex: 0 1 auto;
    margin: 108px 0 0 0;
    background: #FFFFFF;
    box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.12);

    @media (max-width: 959px) {
      margin: 40px 0 0 0;
    }
  }
}

.slider {
  &__container {
    overflow: hidden;
    border-radius: 16px;

    @media (max-width: 959px) {
      border-radius: 0;
    }
  }
}

.swiper {
  position: static;

  &-wrapper {
  }

  &-slide {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;

    @media (max-width: 959px) {
      border-radius: 0;
    }
  }

  &-button-prev {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: -22px;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    background-image: url('../../assets/icons/arrow-left.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    box-shadow: 0px 4px 24px rgba(0, 11, 38, 0.12);

    @media (max-width: 959px) {
      display: none;
    }
  }

  &-button-prev::after {
    display: none;
  }

  &-button-next {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: -22px;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    background-image: url('../../assets/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    box-shadow: 0px 4px 24px rgba(0, 11, 38, 0.12);

    @media (max-width: 959px) {
      display: none;
    }
  }

  &-button-next::after {
    display: none;
  }
}

.cards-home {
  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 24px;

    @media (max-width: 959px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex: 0 1 50%;

    &:nth-child(1) {
      @media (max-width: 959px) {
        margin: -30% 0 0 0;
      }

      @media (max-width: 759px) {
        margin: -40% 0 0 0;
      }
    }

    @media (max-width: 959px) {
      flex: 0 1 100%;
      position: relative;
      z-index: 1;
    }
  }
}
