.utility-input-container {
  &__input {
    width: 100%;
    padding: 20px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    border: 1px solid rgba(0, 11, 38, 0.16);
    box-sizing: border-box;
    border-radius: 8px;

    &::placeholder {
      color: rgba(0, 11, 38, 0.4);
    }
  }
}